body {
    background: rgb(255, 255, 255);
}

.container {
    width: 500px;
    margin: 100px auto;
}

.container form {
    display: flex;
    flex-direction: column;
    background: gray;
    padding: 20px;
}

.container button {
    margin-top: 20px;
}

.message form {
    background: rgba(1, 139, 35, 0.479);
}

.message button {
    background: rgb(34, 34, 34);
    color: #fff;
}

.message form {
    color: #fff;
}